* {
    margin: 0;
    padding: 0;
}


.firstmain-part {
position: relative;

}

.one-part {
    background:url(https://a.cdn-hotels.com/gdcs/production17/d1804/6fb08ef5-eac7-44ba-a35c-0838c89e0a11.jpg);
    background-size: 100% 100%;
    height: 400px;
    width: 100%;
}

.two-part {
    background-color:lightblue;
    height: 300px;
    width: 100%;
}

.middle-one {
    background-color: white;
    height: 60px;
    width: 70%;
    position: absolute;
    top: 53%;
    left: 15%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.secondmain-part {
    position: relative;
}

.three-part {
    background-color:white;
    height: 500px;
    width: 100%;

}

.four-part {
    background-color:black;
    height: 80px;
    width: 100%;
}

.middle-two {
    position: absolute;
    background-color: cornflowerblue;
    height: 220px;
    width: 70%;
    position: absolute;
    top: 62% ;
    left: 15%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.partone {
    width: 33%;
    background-color: aqua;
}
 .parttwo {
    width: 33%;
    background-color: beige;
 }
 
 .partthree {
    width: 33%;
    background-color: blueviolet;
 }

 .phone , .mail, .adress {
    display: flex;
    flex-direction: row;
    justify-content: center;
    border: solid;
    width: 33%;
 }
